header{
    background-color: black;
    width: 950px;
    height: 170px;
    margin: 0 auto;
}
nav{
    background-color: greenyellow;
    width: 950px;
    height: 40px;
    margin: 0 auto;
}
main{
    background-color: salmon;
    width: 950px;
    height: 500px;
    margin: 0 auto;
}
section{
    background-color: goldenrod;
    width: 550px;
    height: 460px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
aside{
    background-color: blueviolet;
    width: 340px;
    height: 460px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}